[alias]
    co = checkout
    cm = commit -m
    ca = commit --amend
    cf = commit --amend --no-edit
    logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
    name = Alex Domingo
    email = alex.domingo.toro@vub.be
[github]
    user = lexming
[pull]
    rebase = false
[init]
    defaultBranch = main
