[alias]
    s = status --untracked-files=normal
    co = checkout
    cm = commit -m
    ca = commit --amend
    cf = commit --amend --no-edit
    ll = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rg = log -p -G
    rga = log --branches --all -p -G
[user]
    name = Alex Domingo
    email = alex.domingo.toro@vub.be
[github]
    user = lexming
[pull]
    rebase = false
[init]
    defaultBranch = main
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[credential]
    helper = cache
[maintenance]
    repo = ~/src/easybuild-easyconfigs
[fetch]
	prune = true
