[alias]
    s = status --untracked-files=normal
    co = checkout
    csw = switch -c
    cm = commit -m
    ca = commit --amend
    cf = commit --amend --no-edit
    rs = restore --staged
    ll = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rg = log -p -G
    rga = log --branches --all -p -G
    branch-cleanup = "!git branch --merged HEAD --format='%(if)%(HEAD)%(then)#%(else)%(refname:short)%(end)' | grep -Ev '^(#|main|master)$' | xargs -r -n 1 git branch -d"
    sync = "!git switch $1 && git pull origin $1 && git branch-cleanup #"
[user]
    name = Alex Domingo
    email = alex.domingo.toro@vub.be
[github]
    user = lexming
[credential]
    helper = cache
[init]
    defaultBranch = main
[core]
    pager = delta
[fetch]
	prune = true
[pull]
    rebase = false
[merge]
    conflictstyle = zdiff3
[diff]
    algorithm = histogram
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
    syntax-theme = none
    minus-style = red dim black
    minus-emph-style = black bold red
    plus-style = green black
    plus-emph-style = black bold green
    hunk-header-decoration-style = black ul
    hunk-header-file-style = yellow
    hunk-header-style = yellow
    file-decoration-style = orange overline
    file-style = orange bold
    line-numbers = true
    line-numbers-left-style = black
    line-numbers-right-style = black
    line-numbers-left-format = "{nm:>2}|"
    line-numbers-right-format = "{np:>3} "
    line-numbers-plus-style = green
    line-numbers-minus-style = dim red
    whitespace-error-style = black bold
    blame-format = "{author:<18} {commit:<6} {timestamp:<15}"
    blame-palette = "#2f1d21" "#252e2a" "#3a3321" "#212b38" "#2b2239"
    blame-separator-format = "{n:}|"
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
